body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-image: url("../imagenes/foto-consolas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec1 {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    align-items: flex-start;
    padding: 30px;
}

.volver {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    object-fit: contain;
}

.subSec1 {
    display: flex;
    height: 10%;
    align-items: center;
    gap: 20px;
}

/* Tamaño uniforme de íconos */
.subSec1 img {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    object-fit: contain;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.subSec1 img:hover {
    opacity: 0.6;
}

/* HOVER LOGIN Y CONTACTO */
.contenedor-login,
.contenedor-contacto {
    position: relative;
}

.hover-login,
.hover-contacto {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.contenedor-login:hover .hover-login,
.contenedor-contacto:hover .hover-contacto {
    display: flex;
}

.hover-login input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.hover-contacto p {
    margin: 0;
}

/* LISTA AÑOS */
.sec2 {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sec2 ul {
    display: flex;
    list-style: none;
    height: 15%;
    gap: 0;
}

.sec2 ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: solid 3px white;
    text-align: center;
}

.sec2 ul li a {
    text-decoration: none;
    font-size: 40px;
    color: white;
}

.sec2 ul li:hover {
    opacity: 0.4;
    transition: all 0.3s ease;
}

@media (max-width: 480px) {
    .sec2 ul {
        flex-direction: column;
    }
    body {
        background-size:contain ;
        background-repeat: repeat;
    }
}
