body {
    display: flex;
    min-height: 100vh;
    background-image: url("../imagenes/switch2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.principal {
    display: flex;
    max-width: 30%;
    flex-direction: column;
    justify-content: center;
}

.principal h1 {
    text-align: center;
}

.principal h3, 
.principal h1 {
    text-align: center;
}

.volver {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    object-fit: contain;
}

body .regreso {
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 480px) {

    body {
        flex-direction: column;
        padding: 0 20px;
        background-size: contain;
        background-repeat: repeat;
        padding: 10px;
        text-align: center;
        gap: 20px;
    }

    .regreso {
        height: 45px;
    }

    .principal {
        max-width: 100%;
    }


}